<!--CardsProdutos-->
<div class="container-fluid pt-5 pb-5" style="background-color: #F7EDE2">
    <div class="card pt-4 pb-4 m-4 ">

        <div class="row">
            <div class=" col-sm-6 pl-5 cor d-flex justify-content-start">
                <h1>Meus Produtos</h1>
            </div>
            <div class=" col-sm-6 pr-5 d-flex justify-content-end">
                <a href="#" class="btn btn-primary" routerLink='criarProduto'>Adicionar produtos</a>
            </div>

        </div>

        <div class="card mr-4 ml-4 ">
            <div class=" card-group text-center" *ngFor='let item of usuario.produtosUsuario | orderBy : key : reverse'>
                <div class="card w- ">
                    <img class="card-img-top" src="{{item.fotoProduto1}}" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">{{item.nomeProduto}}</h5>
                        <p class="card-text">{{item.preco}}.</p>
                        <a href="#" class="btn btn-primary" [routerLink]="['verProduto', item.idProduto]">Ver Mais</a>
                        </div>
                </div>
            </div>
        </div>
        <!--Minhas Postagens-->
    


    </div>
</div>
<!--/CardProdutos-->