
.container {
  display: flex;
  justify-content: center;    
  width: 100%;
  margin-top: 00px;
}

* {
margin: 0;
padding: 10;
font-family: 'Roboto', sans-serif;
}

body {
background: #F7EDE2;
background-repeat: no-repeat; /*cor de fundo*/
background-size: cover;
background-attachment: fixed;
min-height: 1200px;


}

.card {
  background-color: white; /*posiçao o card e formato do card*/
  padding: 60px;
  border-radius: 4%;  
  width: 894px; /*largura*/
  height: 1000px;
  left: 374px; /*movimento*/
  top: 100px; /*distacia do topo*/ 
  padding-bottom:5px;
}
/* tudo dentro do card*/


/* teste*/

button{
  background-color: #F28482;
  border-color: transparent;
  color: #FFFFFF;
  height: 42px;
  width: 200px;
  left: 752px;
  top: 886px;
  border-radius: 5px;
  font-weight:bold;
}

.btncomprar{
  background-color: #F6BD60;
  font-weight:bold;
  border-color: transparent;
  
}


