<!--cards nosso time--> 
<div class="container-fluid" style="background-color:#F7EDE2;">
    <div class="row">
        <div class="col-sm-6" >
            <div class="card borda">
                <div class="card-body">

<!--Nome do Integrante-->
                    <h5 class="nomeIntegrante">Vitor Carvalho</h5>                        
<!--/Nome do Integrante-->

<!--Imagem 3d dos integrantes-->
                    <div class="flip-container img-fluid">
                        <div class="flipper imgpos">
                            <div class="front imagem">
                                <img class="container card-img-top br-50 p-30 " src="https://i.imgur.com/wtK8H1S.jpg"
                                    alt="Imagem do integrante Vitor descreve-lo">
                            </div>
                            <div class="back imagem">
                                <img class=" container card-img-top br-50 p-30  " src="https://i.imgur.com/O4a60xH.jpg"
                                    alt="Imagem do integrante Vitor descreve-lo">
                                </div>
                            </div>
                        </div>
<!--/Imagem 3d dos integrantes--> 

<!--Icones Social Network-->
                    <footer>
                        <div class="container">
                            <ul class="ul-social-network">
                                <li>
                                    <a href="https://www.linkedin.com/in/vcolvr/" target="_blank"
                                        class="icoLinkedin">
                                        <img src="https://i.imgur.com/Zh2hD11.png" class="tm-social" alt="icone linkedin">
                                    </a>
    
                                    <a href="https://github.com/Vcolvr" target="_blank" class="icoGitHub">
                                       <img src="https://i.imgur.com/b9UTNHd.png" class="tm-social" alt="icone github">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </footer>
<!--/Icones Social Network-->
    
<!--Textos dos Integrntes-->
                    <hr>
                    <p class="card-text borda infoTexto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio corrupti culpa dolor, totam laborum blanditiis et. Magni, cupiditate sapiente ratione, a corrupti alias, blanditiis esse impedit quia praesentium in repudiandae?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed voluptate similique qui ad neque dignissimos cum. Doloribus libero odio praesentium, non laborum numquam perferendis similique quos dicta iusto maxime vel?
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil facilis eius nam dolores explicabo exercitationem alias quisquam! Nemo delectus magnam natus a quas rem ipsa consequatur culpa, porro fuga doloribus.
                    </p>
                    <b class="borda curiosidade" href="#" >Curiosidades:</b>
                    <p class="card-text borda infoTexto1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae debitis harum, totam, asperiores eligendi illum deleniti laboriosam voluptate officiis earum eveniet illo odio? Ab repudiandae sunt molestias atque unde impedit?</p>
                 </div>
            </div>
        </div>
<!--/Textos dos Integrntes-->
<!--/card1-->
    
<!--card2-->
        <div class="col-sm-6 ">
            <div class="card borda">
                <div class="card-body">
<!--Nome do Inerante-->
                    <h5 class="nomeIntegrante">Caroline Miranda</h5>
<!--/Nome do Inerante-->

<!--Imagem 3d dos integrantes-->
                    <div class="flip-container">
                        <div class="flipper imgpos">
                            <div class="front imagem">
                                <img class="container card-img-top br-50 p-30 " src="https://i.imgur.com/RbNXZDA.jpg"
                                    alt="Imagem do integrante Caroline">
                            </div>
                            <div class="back imagem">
                                <img class=" container card-img-tp br-50 p-30  " src="https://i.imgur.com/8gSAaDe.jpg"
                                    alt="Imagem do integrante Caroline">
                                </div>
                            </div>
                        </div>
<!--/Imagem 3d dos integrantes--> 

<!--Icones Social Network-->
                    <footer>
                        <div class="container">
                            <ul class="ul-social-network">
                                <li>
                                    <a href="https://www.linkedin.com/in/caroline-miranda-374738148/" target="_blank"
                                        class="icoLinkedin">
                                        <img src="https://i.imgur.com/Zh2hD11.png" class="tm-social" alt="icone linkedin">
                                    </a>
    
                                    <a href="https://github.com/carol-mira" target="_blank" class="icoGitHub">
                                        <img src="https://i.imgur.com/b9UTNHd.png" class="tm-social" alt="icone github">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </footer>
<!--/Icones Social Network-->
    
<!--Textos dos Integrantes-->
                    <hr>
                    <p class="card-text borda infoTexto">
                        Sou as minhas atitudes, os meus sentimentos, minhas ideias e meus conhecimentos.
                         Como mulher, mãe, aluna e em transição de carreira , busco ingressar na área de tecnologia para incentivar outras mulheres a sempre alcançarem seus objetivos, e que nunca devemos estar presas somente ao nível de educação ou seu diploma universitário. Sempre estou aprendendo sobre novos conhecimentos e ferramentas para assim melhorar meu trabalho e minha produtividade. 
                         Tenho orgulho de quem eu sou. Um reflexo de todas as experiências que já passei, sendo sempre o que escolho me tornar.
                    </p>
                    <b class="borda curiosidade" href="#" >Curiosidades:</b>
                    <p class="card-text borda infoTexto1">Aprendi a ler Kanji e falar um pouco de japonês, amo dançar, ler, desenhar e fazer amizade.</p>
                 </div>
            </div>
        </div>
<!--/Textos dos Integrantes-->
<!--/card2-->

<!--card3-->
<div class="col-sm-6" >
    <div class="card borda">
        <div class="card-body">
<!--Nome do Inerante-->
            <h5 class="nomeIntegrante">Gustavo Martins</h5>
<!--/Nome do Inerante-->

<!--Imagem 3d dos integrantes-->
            <div class="flip-container">
                <div class="flipper imgpos">
                    <div class="front imagem">
                        <img class="container card-img-top br-50 p-30 " src="https://i.imgur.com/I0kJ7Cg.jpg"
                            alt="Imagem do integrante Vitor descreve-lo">
                    </div>
                    <div class="back imagem">
                        <img class=" container card-img-top br-50 p-30  " src="https://i.imgur.com/O4a60xH.jpg"
                            alt="Imagem do integrante Vitor descreve-lo">
                        </div>
                    </div>
                </div>
<!--/Imagem 3d dos integrantes--> 

<!--Icones Social Network-->
            <footer>
                <div class="container">
                    <ul class="ul-social-network">
                        <li>
                            <a href="https://www.linkedin.com/in/gustavo-martins-3a9980136/" target="_blank"
                                class="icoLinkedin">
                                <img src="https://i.imgur.com/Zh2hD11.png" class="tm-social" alt="icone linkedin">
                            </a>

                            <a href="https://github.com/GustavoMarttiins" target="_blank" class="icoGitHub">
                                <img src="https://i.imgur.com/b9UTNHd.png" class="tm-social" alt="icone github">
                            </a>
                        </li>
                    </ul>
                </div>
            </footer>
<!--/Icones Social Network-->

<!--Textos dos Integrantes-->
            <hr>
            <p class="card-text borda infoTexto">
                Um sonhador... 
                Sou apaixonado pelo mundo dos gamers, sendo a melhor maneira que tenho para relaxar e me divertir com amigos, ao descobrir sobre Programação através dos jogos, os sonhos começaram a se formar dentro da minha cabeça, porém comecei cursando Direito por motivos familiares, mesmo não sendo meu sonho, acabei gostando do curso, mas logo precisei trancar, entretanto outro sonho acabará de nascer, uma área onde Direito e Programação andam de mãos dadas.
            </p>
            <b class="borda curiosidade" href="#" >Curiosidades:</b>
            <p class="card-text borda infoTexto1">
                Gosto de tocar bateria, jogar xadrez, assistir filmes e séries, ouvir uma boa música de  rock com os amigos.
            </p>
         </div>
    </div>
</div>
<!--/Textos dos Integrantes-->

<!--/card3-->
    
<!--card4-->
<div class="col-sm-6 ">
    <div class="card borda">
        <div class="card-body">
<!--Nome do Inerante-->
            <h5 class="nomeIntegrante">Ana Livia</h5>
<!--/Nome do Inerante-->

<!--Imagem 3d dos integrantes-->
            <div class="flip-container">
                <div class="flipper imgpos">
                    <div class="front imagem">
                        <img class="container card-img-top br-50 p-30 " src="https://i.imgur.com/wtK8H1S.jpg"
                            alt="Imagem do integrante Vitor descreve-lo">
                    </div>
                    <div class="back imagem">
                        <img class=" container card-img-top br-50 p-30  " src="https://i.imgur.com/O4a60xH.jpg"
                            alt="Imagem do integrante Vitor descreve-lo">
                        </div>
                    </div>
                </div>
<!--/Imagem 3d dos integrantes--> 

<!--Icones Social Network-->
            <footer>
                <div class="container">
                    <ul class="ul-social-network">
                        <li>
                            <a href="https://www.linkedin.com/in/ana-livia-tres-7a91aa1a3/" target="_blank"
                            class="icoLinkedin">
                            <img src="https://i.imgur.com/Zh2hD11.png" class="tm-social" alt="icone linkedin">
                        </a>

                        <a href="https://github.com/analivia1709" target="_blank" class="icoGitHub">
                            <img src="https://i.imgur.com/b9UTNHd.png" class="tm-social" alt="icone github">
                        </a>
                        </li>
                    </ul>
                </div>
            </footer>
<!--/Icones Social Network-->

<!--Textos dos Integrantes-->
            <hr>
            <p class="card-text borda infoTexto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio corrupti culpa dolor, totam laborum blanditiis et. Magni, cupiditate sapiente ratione, a corrupti alias, blanditiis esse impedit quia praesentium in repudiandae?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed voluptate similique qui ad neque dignissimos cum. Doloribus libero odio praesentium, non laborum numquam perferendis similique quos dicta iusto maxime vel?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil facilis eius nam dolores explicabo exercitationem alias quisquam! Nemo delectus magnam natus a quas rem ipsa consequatur culpa, porro fuga doloribus.
            </p>
            <b class="borda curiosidade" href="#" >Curiosidades:</b>
            <p class="card-text borda infoTexto1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae debitis harum, totam, asperiores eligendi illum deleniti laboriosam voluptate officiis earum eveniet illo odio? Ab repudiandae sunt molestias atque unde impedit?</p>
         </div>
    </div>
</div>
<!--/Textos dos Integrantes-->

<!--/card4-->

<!--/card5-->
<div class="col-sm-6">
    <div class="card borda">
        <div class="card-body">
<!--Nome do Inerante-->
            <h5 class="nomeIntegrante">Kyem Araújo</h5>
<!--/Nome do Inerante-->

<!--Imagem 3d dos integrantes-->
            <div class="flip-container">
                <div class="flipper imgpos">
                    <div class="front imagem">
                        <img class="container card-img-top br-50 p-30 " src="https://i.imgur.com/wtK8H1S.jpg"
                            alt="Imagem do integrante Vitor descreve-lo">
                    </div>
                    <div class="back imagem">
                        <img class=" container card-img-top br-50 p-30  " src="https://i.imgur.com/O4a60xH.jpg"
                            alt="Imagem do integrante Vitor descreve-lo">
                        </div>
                    </div>
                </div>
<!--/Imagem 3d dos integrantes--> 

<!--Icones Social Network-->
            <footer>
                <div class="container">
                    <ul class="ul-social-network">
                        <li>
                            <a href="https://www.linkedin.com/in/kyem2/" target="_blank"
                                class="icoLinkedin">
                                <img src="https://i.imgur.com/Zh2hD11.png" class="tm-social" alt="icone linkedin">
                            </a>

                            <a href="https://github.com/Kyem-Araujo" target="_blank" class="icoGitHub">
                                <img src="https://i.imgur.com/b9UTNHd.png" class="tm-social" alt="icone github">
                            </a>
                        </li>
                    </ul>
                </div>
            </footer>
<!--/Icones Social Network-->

<!--Textos dos Integrantes-->
            <hr>
            <p class="card-text borda infoTexto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio corrupti culpa dolor, totam laborum blanditiis et. Magni, cupiditate sapiente ratione, a corrupti alias, blanditiis esse impedit quia praesentium in repudiandae?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed voluptate similique qui ad neque dignissimos cum. Doloribus libero odio praesentium, non laborum numquam perferendis similique quos dicta iusto maxime vel?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil facilis eius nam dolores explicabo exercitationem alias quisquam! Nemo delectus magnam natus a quas rem ipsa consequatur culpa, porro fuga doloribus.
            </p>
            <b class="borda curiosidade" href="#" >Curiosidades:</b>
            <p class="card-text borda infoTexto1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae debitis harum, totam, asperiores eligendi illum deleniti laboriosam voluptate officiis earum eveniet illo odio? Ab repudiandae sunt molestias atque unde impedit?</p>
         </div>
    </div>
</div>
<!--/Textos dos Integrantes-->
<!--/card5-->
    
<!--card6-->
<div class="col-sm-6">
    <div class="card borda">
        <div class="card-body">
<!--Nome do Inerante-->
            <h5 class="nomeIntegrante">Rilton Maciel</h5>
<!--/Nome do Inerante-->

<!--Imagem 3d dos integrantes-->
            <div class="flip-container">
                <div class="flipper imgpos">
                    <div class="front imagem">
                        <img class="container card-img-top br-50 p-30 " src="https://i.imgur.com/wtK8H1S.jpg"
                            alt="Imagem do integrante Vitor descreve-lo">
                    </div>
                    <div class="back imagem">
                        <img class=" container card-img-top br-50 p-30  " src="https://i.imgur.com/O4a60xH.jpg"
                            alt="Imagem do integrante Vitor descreve-lo">
                        </div>
                    </div>
                </div>
<!--/Imagem 3d dos integrantes--> 

<!--Icones Social Network-->
            <footer>
                <div class="container">
                    <ul class="ul-social-network">
                        <li>
                            <a href="https://www.linkedin.com/in/rilton-maciel-611a83168/" target="_blank"
                            class="icoLinkedin">
                            <img src="https://i.imgur.com/Zh2hD11.png" class="tm-social" alt="icone linkedin">
                        </a>

                        <a href="https://github.com/Majoralphax" target="_blank" class="icoGitHub">
                            <img src="https://i.imgur.com/b9UTNHd.png" class="tm-social" alt="icone github">
                        </a>
                        </li>
                    </ul>
                </div>
            </footer>
<!--/Icones Social Network-->

<!--Textos dos Integrantes-->
            <hr>
            <p class="card-text borda infoTexto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio corrupti culpa dolor, totam laborum blanditiis et. Magni, cupiditate sapiente ratione, a corrupti alias, blanditiis esse impedit quia praesentium in repudiandae?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed voluptate similique qui ad neque dignissimos cum. Doloribus libero odio praesentium, non laborum numquam perferendis similique quos dicta iusto maxime vel?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil facilis eius nam dolores explicabo exercitationem alias quisquam! Nemo delectus magnam natus a quas rem ipsa consequatur culpa, porro fuga doloribus.
            </p>
            <b class="borda curiosidade" href="#" >Curiosidades:</b>
            <p class="card-text borda infoTexto1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae debitis harum, totam, asperiores eligendi illum deleniti laboriosam voluptate officiis earum eveniet illo odio? Ab repudiandae sunt molestias atque unde impedit?</p>
         </div>
    </div>
</div>
<!--/Textos dos Integrantes-->
<!--/card6-->
</div>