<body>
  <div class="l-cards">
    <div class="card">

<!--Título-->
      <h1 class="card-title">Entre em Contato</h1>
<!--/Título-->  

<!--facebook-->
      <div>
        <img class="ico-contato " src="https://i.imgur.com/t3zXvGm.png" alt="Icone Facebook">
        <a class="textIco" href="https://www.facebook.com/" target="_blank">facebook.com/NaturebaCosmeticos</a>
      </div>
<!--/facebook-->      

<!--telefone-->      
      <div>
        <img class="ico-contato" src="https://i.imgur.com/RVVuzZa.png" alt="Icone Telefone">
        <a class="textIco" href="https://api.whatsapp.com/send?phone=5511910616756&text=Olá, gostaria de conhecer um pouco mais!" target="_blank">(11)96235-6969</a>
      </div>
<!--/telefone-->

<!--e-mail-->
      <div>
        <img class="ico-contato" src="https://i.imgur.com/JrO4uoS.png" alt="Icone E-mail">
        <a class="textIco" href="https://www.google.com" target="_blank">NaturebaCosmeticos@gmail.com</a>
      </div>
<!--/e-mail-->
    </div>
  
  </div>

</body>