@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 10;
  font-family: 'Roboto', sans-serif;
}

 body {
  background: #F7EDE2;
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
  min-height: 1000px;  
}


.l-cards {
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 50px;
}

.card {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 500px;
  
  
}

.card-title{
  text-align: center;
  margin-bottom: 10px;
  padding: 30px;
  color: #84A59D;
  font-size: 24px;
  font-weight: bold;
  
}


.ico-contato{
  width: 56px;
  height: 56px;
  padding: 5px;
  margin: 10px;
  margin-left: 60px;
}
.textIco{
  margin-left: 20px;
  padding: 10px;
  color: #84A59D;
  }

