<body>


  <div class="container-fluid pt-6">
    <div class="card  " style="width: 18rem;">
      <img src="https://i.imgur.com/7q6Fouf.jpg" class="img-fluid" width="400" height="263" alt="imagem principal">
      <div class="card-body row justify-content-center" style="background-color: #F6BD60;">
        <p class="card-text">Creme de leite de coco para cabelo cacheado.</p>
        <a href="#" class="btn btn-primary">Ver mais</a>
      </div>
    </div>

    <!-- Card rosa -->

    <div class="card" style="width: 18rem;">
      <img src="https://i.imgur.com/7q6Fouf.jpg" class="img-fluid" width="400" height="263" alt="imagem principal">
      <div class="card-body row justify-content-center" style="background-color: #F5CAC3;">
        <p class="card-text">Creme de leite de coco para cabelo cacheado.</p>

        <!-- Botão para acionar o pop up -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ExemploModalCentralizado">
          Ver mais
        </button>
        <!-- /Botão para acionar pop up -->

        <!-- Modal Pop-Up -->
        <div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog"
          aria-labelledby="TituloModalCentralizado" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="cor-1">
                <div class="modal-body">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">

                  <div class="container-fluid cor-1 d-flex align-items-center">

                    <div class="row">

                      <div class="col-md-6 m-0">

                        <img
                          src="https://carrefourbr.vtexassets.com/arquivos/ids/3164042-320-320?width=320&height=320&aspect=true"
                          alt="">
                      </div>

                      <div class="col-md-6 m-0">
                        <h5 class="cor-3">Creme Nivea Facial Antissinais</h5>

                        <p class="cor-3 m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                          printer took a galley of type and scrambled when an unknown printer took a galley of type and
                          scrambleda galley of type and scrambled


                        </p>
                        <p class="esp-1 d-flex justify-content-end">R$: 39,90</p>

                        <div class="modal-body d-flex justify-content-center">
                          <button type="button" class=" btn btn-cor-2 mr-2 " data-dismiss="modal">Adorei!</button>
                          <button type="button" class="btn btn-cor-2 mr-2 '">Quero Comprar!</button>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>


      </div>
    </div>

  </div>



</body>