<div class="container-fluid pt-5 pb-5 body">
    <div class="row card-body ml-5 mr-5 d-flex justify-content-center p-3 ">
  
            <div class="col-md-5 mb-30">
              <h1 class="h1-titulo">Quem somos?</h1>
              <hr>
              <p class="textinho" >Somos uma plataforma que conecta pequenos e médios produtores de produtos cosméticos e de beleza que sejam completamente sustentáveis e ecológicos, os oferecendo para consumidores, como você.</p>
      
              <h1 class="h1-titulo">Missão</h1>
              <hr>
              <p class="textinho">Queremos valorizar produtores brasileiros sustentáveis a fim de contribuir para o seu crescimento, partindo através do desenvolvimento ecológico no setor de cosméticos e beleza, visando atender o público de forma transparente e segura, proporcionando momentos agradáveis de consumo. 
            </p>
      
            <h1 class="h1-titulo">Visão</h1>
            <hr>
            <p class="textinho">Ser uma referência de plataforma do ramo de sustentabilidade na beleza que tem como objetivo transmitir segurança por meio de curadorias para a verificação do processo dos produtos para gerar um sentimento de confiança entre produtores e o consumidor final.
            </p>
      
            <h1 class="h1-titulo">Valores</h1>
            <hr>
            <p class="textinho">Contribuímos para um mundo que valoriza as pessoas e a biodiversidade. Trabalhamos com uma equipe que prioriza a integridade, a transparência, a inclusão a produção sustentável.</p>
      
       
            </div>
  
                       
            <div class="row d-flex justify-content-center align-items-center p-4 mb-30 ">
  
              <div class="col-md-5">
                <img class="img-fluid"  src="https://i.imgur.com/CYLG1QK.gif"   alt="imagem principal"  width="900px" height="900px">
              </div>
      
  
        </div>
  
  
    </div>
  
  
  
  </div>