<nav class="navbar navbar-expand-lg navbar-light  text-nowrap font-weight-bold  " style="background-color: #F5CAC3">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class=" text-white nav-link" routerLink='comoFunciona'>Como Funciona? <span class="sr-only">(current)</span></a>
    <div class="collapse navbar-collapse container-fluid" id="navbarSupportedContent">
        <ul class=" navbar-nav d-flex espaco align-items-center ">
            <li class="nav-item active">
            </li>

            <li class="nav-item">
                <a class=" text-white nav-link" routerLink='quemSomos'>Sobre nós</a>
            </li>

            <li class="nav-item">
                <a class=" text-white nav-link" routerLink='nossoTime'>Nosso time</a>
            </li>

            <li class="nav-item">
                <a class=" text-white nav-link" routerLink='Contato'>Contato</a>
            </li>
        </ul>

        <ul class=" navbar-nav ml-auto d-flex align-items-center">

            <li>
                <a href="https://www.facebook.com/" target="_blank" class="icoFacebook" alt='Icone do Facebook'>
                    <img class="fa" src="https://i.imgur.com/uHVSXNv.png" width="28px" height="28px">
                </a>
            </li>
            
            <li>
                <a href="https://www.instagram.com/" target="_blank" class="icoInstagram" alt='Icone do instagram'>
                    <img class="fa" src="https://i.imgur.com/52SqSWU.png" width="28px" height="28px">
                </a>
            </li>

            <li>
                <a href="https://www.twitter.com/" target="_blank" class="icoTwitter" alt='Icone do twitter'>
                    <img class="fa" src="https://i.imgur.com/ycjJ7yp.png" width="28px" height="28px">
                </a>
            </li>

        </ul>




    </div>
</nav>

<!--logo-->

<div class=" d-flex justify-content-center">
    <a routerLink='paginaInicial' class="icoInstagram" alt='Logo Natureba'>
        <img src="https://i.imgur.com/qK0vDVm.jpg" width="250" height="260" alt="Logotipo Natureba">
    </a>
</div>

<!--/logo-->

<!-- IconeUser-->
<div class="container-fluid tamanho d-flex justify-content-end">
    <ul class="nav nav-tabs">
  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle adapt" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Olá, {{nomeUsuario}}</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink='meuPerfil'>Meu perfil</a>
            <a class="dropdown-item" routerLink="meuPerfil/minhasCompras">Minhas compras</a>
            <a class="dropdown-item" routerLink="meuPerfil/meusFavoritos">Meus favoritos</a>
            <a class="dropdown-item" routerLink="meuPerfil/meusProdutos">Meus produtos</a>
            <a class="dropdown-item" (click)='sair()'>Sair</a>
          </div>
        </li>
        
      </ul>

</div>
<!-- /IconeUser-->

<!-- menuProdutos-->

<nav class="navbar navbar-expand-lg font-weight-bold navbar-light m-0" style="background-color: white">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" collapse navbar-collapse " id="conteudoNavbarSuportado">
        <ul class="navbar-nav cor altera-menu posicao ">

            <li class="nav-item">
                <a (mouseenter)='para1()' class="nav-link" [routerLink]="['/verCategoria', id]">Maquiagem</a>
            </li>

            <li class="nav-item">
                <a (mouseenter)='para2()'class="nav-link" [routerLink]="['/verCategoria', id]">Para o cabelo</a>
            </li>

            <li class="nav-item">
                <a (mouseenter)='para3()'class="nav-link" [routerLink]="['/verCategoria', id]">Cheirinho bom</a>
            </li>

            <li class="nav-item">
                <a (mouseenter)='para4()'class="nav-link" [routerLink]="['/verCategoria', id]">Pele macia</a>
            </li>

            <li class="nav-item">
                <a (mouseenter)='para5()'class="nav-link" [routerLink]="['/verCategoria', id]">Cuide-se</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink='meuPerfil/meusProdutos'>Vender</a>
            </li>

        </ul>

        <!--/Barra de pesquisa-->
        <div class="pesquisa d-flex justify-content-end" id="busca">
            <input type="text" id="text" name="t" value placeholder="O que está procurando?" id="txtBusca"
                class="clear-default-value search-fiel">
            <i class="fa fa-search" aria-hidden="true"></i>

        </div>
    </div>

</nav>

<!--/menuProdutos-->


