@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.btn-primary{
    background-color: #F28482;
    border-color: #F28482;
    color: #FFFFFF;
    height: 42px;
    width: 230px;
    left: 752px;
    top: 886px;
    border-radius: 5px;
    font-weight: bold;
}

.card-body{
    background: #F6BD60;
    font-family: 'Roboto', sans-serif;
}



.cor{
    color: #84A59D;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}




