@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.altera-menu {
    font-style: normal; /*caso queira deixar alterar o estilo da fonte*/
    font-size: 17px; /*caso queira alterar o tamanho da fonte*/
    font-family: sans-serif; /*caso queira mudar o tipo de fonte*/
      
 }

 .cor{
    color: #84A59D;
}

.card-body{
   background-color: white;
}

.meiocard{
    background-color:#F6BD60;
}

.ladocard{
    background-color:#F7EDE2;
}

/* caixa de pesquisa */
#busca{
    display: inline;
    border:0;
    border-bottom: 2px solid #84A59D;
    background-color: transparent;
}

#txtBusca{
  
   
    padding-left: 5px;
    font-style: italic;
    font-size: 18px;
    border: 0;
    height: 32px;
    width: 260px;
    font-family: 'Roboto', sans-serif;
   
}
.fa-search{
    color: #84A59D;
}

.btn-primary{
    background-color: #F28482;
    border-color: #F28482;
    color: #FFFFFF;
    height: 42px;
    width: 230px;
    left: 752px;
    top: 886px;
    border-radius: 5px;
    font-weight: bold;
}

