<!--aspectosConta-->
<div class=" container-fluid pt-5 " style="background-color: #F7EDE2">
    <div class="row">
        <div class="col-sm-6 pb-5">
            <div class="margem-card card ml-5">
                <div class="card-body">
                    <div class="col mx-auto text-center">
                        <img src="https://i.imgur.com/NkrbUT5.png" class='img-fluid' width="500" height="500"
                            alt="gif de uma arvore">
                        <h2 class="cor card-title">Resumo da conta</h2>
                    </div>

                    <div class="cor altera-menu card-group">
                        <div class="card">
                            <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
                            <div class="ladocard card-body">
                                <h5 class="card-title">Título do card</h5>
                                <p class="card-text">Este é um card maior com suporte a texto embaixo.
                                    </p>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
                            <div class="meiocard card-body">
                                <h5 class="card-title">Título do card</h5>
                                <p class="card-text">Este é um card com suporte a texto embaixo.
                                   </p>
                            </div>

                        </div>
                        <div class="card">
                            <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
                            <div class="ladocard card-body">
                                <h5 class="card-title">Título do card</h5>
                                <p class="card-text">Este é um card maior com suporte a texto embaixo.
                                     </p>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex cor justify-content-end">
                        <h5> Histórico de compras</h5>
                    </div>

                </div>

                <div class="col mx-auto text-center">

                    <h2 class="cor card-title">Você plantou {{usuario.contadorArvore}} árvores!</h2>
                </div>
            </div>
        </div>
        <!--CardsLateralDireita-->
        <div class="cor altera-menu col-sm-6  ">

            <div class="col-sm-12">
                <div class=" card mr-5 ">
                    <div class=" card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <h5 class="font-weight-bold card-title">Está aqui para vender?</h5>
                            </div>

                            <div class="col-sm-6 d-flex justify-content-end">
                                <i class="fa fa-money" aria-hidden="true"></i>
                            </div>
                        </div>

                        <p class="card-text">Veja todos os seus anúncios e adicione novos produtos. Faça vendas para que
                            nossos consumidores fiquem mais bonites do que nunca.</p>
                        <a routerLink="meusProdutos" class="btn btn-primary">Ver meus anúncios</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 pt-5">
                <div class=" card mr-5">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-sm-6">
                                <h5 class="font-weight-bold card-title text-nowrap">Quer ver seus queridinhos?</h5>
                            </div>

                            <div class="col-sm-6 d-flex justify-content-end">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </div>
                        </div>

                        <p class="card-text">Você tinha gostado de algo e quer comprar agora? Reveja agora os seus produtos favoritos e experimente. </p>
                        <a routerLink="meusFavoritos" class="btn btn-primary">Ver favoritos</a>
                    </div>
                </div>
            </div>


            <div class="col-sm-12 pt-5">
                <div class=" card mr-5  ">
                    <div class=" card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <h5 class="font-weight-bold card-title text-nowrap">Mudou alguma coisa?</h5>
                            </div>

                            <div class="col-sm-6 d-flex justify-content-end">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <p class="card-text">Seu celular mudou? Altere seus dados para segurança durante suas compras e/ou vendas.</p>
                        <a class="btn btn-primary" [routerLink]="['/alterarCadastro', idUsuario ]">Alterar cadastro</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 pt-5">
                <div class=" card mr-5  ">
                    <div class=" card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <h5 class="font-weight-bold card-title text-nowrap" routerLink="/minhasCompras">Quer conferir de novo?</h5>
                            </div>

                            <div class="col-sm-6 d-flex justify-content-end">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <p class="card-text"> Tá afim de ver o que você ja comprou? Veja detalhes do seu histórico </p>
                        <a routerLink="minhasCompras" class="btn btn-primary">Ver minhas compras</a>
                    </div>
                </div>
            </div>


        </div>


    </div>

</div>
<!--CardsLateralDireita-->
<!--/aspectosConta-->