<div class="container-fluid pt-5 pb-5 cor-1">

    <div class="row bg-light ml-5 mr-5 d-flex justify-content-center align-items-center ">

        <img class=" img-fluid esp-1 " src="https://i.imgur.com/opc3o7J.png"
            alt="Imagem da floresta" width="586px" height="586px">

        <div class="col-md-6 esp-1  mb-3">
            <h2 class="">Como funciona </h2>

            <p class=" config mt-3 mb-2 p">Aqui, na Natureba Cosméticos, somos feitos por vocês e
                para vocês.</p>

            <p class="config p ">
                Se você veio aqui procurando algum produto, você pode ter certeza que aqui é um canal seguro
                onde diversos fornecedores de produtos naturais e sustentáveis vem para comprar e vender suas
                mercadorias. Criando rapidamente um login, você pode filtrar sua busca por categorias ou pelo
                nome do produto. Ainda, se conhecer exatamente quem vende, pode procurar o nome de usuário desta
                pessoa! Clicando em qualquer um dos produtos você pode ver a sua descrição, suas fotos e seu
                preço, assim como favoritar os seus queridinhos e confirmar que quer se contatar com este
                produtor. Fazendo isso, além de virar um consumidor muito mais Natureba, você ainda ganha uma
                árvore linda plantada por nós, contabilizada no seu perfil.</p>


            <p class="config p">
                Agora, se você veio aqui para vender, você pode continuar usando a mesma conta que como
                comprador. Clicando no icone acima da caixa de busca ou no menu em vendas, você pode ver todos
                os seus produtos e/ou cadastrar um novo! Aproveite e crie um produto bem chamativo com fotos
                bonitas e uma descrição do processo de criação do seu produto, além dos seus benefícios. Os
                nossos usuários vão amar e você logo se tornará um grande influencer Natureba!
            </p>


            <p class="config p">Chega de perder tempo e vá aproveitar logo nosso site! Compre, anuncie e venda para quem
                pensa
                como você e transforme o mundo num lugar mais limpo e seguro.</p>

        </div>

    </div>

</div>